<div class="cp-leaflet-map">
  <div class="cp-leaflet-map__canvas" #mapHost role="application"></div>
  <ul class="cp-leaflet-map__legend" aria-label="Map legend">
    <li><span class="cp-leaflet-map__dot cp-leaflet-map__dot--active"></span>{{ 'controlPanel.map.legendActive' | translate }}</li>
    <li><span class="cp-leaflet-map__dot cp-leaflet-map__dot--warn"></span>{{ 'controlPanel.map.legendWarning' | translate }}</li>
    <li><span class="cp-leaflet-map__dot cp-leaflet-map__dot--idle"></span>{{ 'controlPanel.map.legendIdle' | translate }}</li>
  </ul>
</div>
